<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Asrin Vakili</title>
  <link rel="stylesheet" href="../css/style.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<div id="loading"><img src="../loading.gif" alt="loading"></div>

<div id="page_top"></div>

<div id="navbar">
  <span><a href="#modal_contact">Connect To Me</a></span>
  <span><a href="#modal_about">About Me</a></span>
</div>

<!--------------------------------------------------- slider ------------------------------------------------------->

<div id="jquery-slideshow-container">

    <ul id="jquery-slideshow">
        <li style="background-image: url(../img/slider/a.jpg);">
            <a href="#">
                <span>Artificial Intelligence</span>
            </a>
        </li>
        <li style="background-image: url(../img/slider/b.jpg);">
            <a href="#">
                <span>Data Analyze</span>
            </a>
        </li>
        <li style="background-image: url(../img/slider/c.png);">
            <a href="#">
                <span>Data Mining</span>
            </a>
        </li>
    </ul>
  <a href="#" id="btn-prev">
    <i class="fa fa-angle-left"><img src="../img/icons/prev.png" alt="icon"></i>
    <span>Previous</span>
  </a>
  <a href="#" id="btn-next">
    <i class="fa fa-angle-right"><img src="../img/icons/next.png" alt="icon"></i>
    <span>Next</span>
  </a>

</div>


<!--------------------------------------------------- end of slider ------------------------------------------------------->


<img src="../img/personal.jpg" alt="background" style="width: 100%; height: auto" id="banner">

<div class="modal_wrapper" id="modal_contact">
  <div class="modal" >
    <span class="close_modal"><a href="#" onclick="window.close()"><img src="../img/icons/close.png" alt="close"></a> </span>
    This is my number<br>
    This is my name<br>
    This is my email<br>
  </div>
</div>

<div class="modal_wrapper" id="modal_about">
  <div class="modal" >
    <span class="close_modal"><a href="#" onclick="window.close()"><img src="../img/icons/close.png" alt="close"></a> </span>
    My Name is Asrin<br>
    My Name is Asrin<br>
    My Name is Asrin<br>
  </div>
</div>

<div id="main_body">

<div id="jump_down"><img id="jump_down_img" src="../img/icons/down.png" alt="down"></div>

<div id="wrapper">

  <div class="about" id="about">
    <h1>About</h1>
    I'm Asrin Vakili, a software engineer based in IRN.<br>
    I'm Asrin Vakili, a software engineer based in IRN.<br>
    I'm Asrin Vakili, a software engineer based in IRN.
  </div>

  <div id="maintextwrapper">
    <div id="experience" class="maintext">
      this is my experience div<br>
      this is my experience div<br>
      this is my experience div<br>
      this is my experience div
    </div>
    <div id="education" class="maintext">
      this is my education div<br>
      this is my education div<br>
      this is my education div<br>
      this is my education div
    </div>
    <div id="cv" class="maintext">
      this is my CV div<br>
      this is my CV div<br>
      this is my CV div<br>
      this is my CV div
    </div>
    <div id="contact" class="maintext">
      this is my Contact div<br>
      this is my Contact div<br>
      this is my Contact div<br>
      this is my Contact div
    </div>
  </div>

  <div id="menu">
    <ul>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#cv">CV</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

</div>
<a id="jump_top" href="#page_top"></a>
<div id="footer">
  Copyright 2024 &copy; <a href="https://asrin-vakili.ir" target="_blank">Asrin Vakili</a>
</div>

</div>

</body>

<script type="text/javascript" src="../js/app.js"></script>
</html>
