<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Asrin Vakili</title>
  <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>

<div id="page_top"></div>

<div id="navbar">
  <span><a href="#modal_contact">Connect To Me</a></span>
  <span><a href="#modal_about">About Me</a></span>
</div>



<img src="../img/personal.jpg" alt="background" style="width: 100%; height: auto" id="banner">

<div class="modal_wrapper" id="modal_contact">

  <div class="modal" >
    <span class="close_modal"><a href="#close_modal">X</a> </span>
    This is my number<br>
    This is my name<br>
    This is my email<br>
  </div>

</div>
<div class="modal_wrapper" id="modal_about">

  <div class="modal" >
    <span class="close_modal"><a href="#close_modal">X</a> </span>
    My Name is Asrin<br>
    My Name is Asrin<br>
    My Name is Asrin<br>
  </div>

</div>

<a id="jump_down" href="#footer"></a>

<div id="wrapper">

  <div class="about" id="about">
    <h1>About</h1>
    I'm Asrin Vakili, a software engineer based in IRN.<br>
    I'm Asrin Vakili, a software engineer based in IRN.<br>
    I'm Asrin Vakili, a software engineer based in IRN.
  </div>

  <div id="maintextwrapper">
    <div id="experience" class="maintext">
      this is my experience div<br>
      this is my experience div<br>
      this is my experience div<br>
      this is my experience div
    </div>
    <div id="education" class="maintext">
      this is my education div<br>
      this is my education div<br>
      this is my education div<br>
      this is my education div
    </div>
    <div id="cv" class="maintext">
      this is my CV div<br>
      this is my CV div<br>
      this is my CV div<br>
      this is my CV div
    </div>
    <div id="contact" class="maintext">
      this is my Contact div<br>
      this is my Contact div<br>
      this is my Contact div<br>
      this is my Contact div
    </div>
  </div>

  <div id="menu">
    <ul>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#cv">CV</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

</div>
<a id="jump_top" href="#page_top"></a>
<div id="footer">
  Copyright 2024 &copy; <a href="http://asrin-vakili.ir" target="_blank">Asrin Vakili</a>
</div>

</body>
</html>
