body, html{
    margin: 0;
    padding: 0;
}
* {
    direction: ltr;
    text-align: justify;
    font-family: "Times New Roman", Tahoma, serif;

}

ul{
    list-style: none;
}
ul li{
    margin-bottom: 10%;
    background-color: inherit;
}
ul li:hover{
   background-color: #b36eee;
  transform:scale(1.2);
}
a{
  text-decoration: none;
  color: black;
 }
a:hover{
  color: black;
 }
#banner{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: -1;
}
#maintextwrapper{
  margin: 30px 0 500px;
  background: repeating-linear-gradient(#3355ee,#00bbaa,white);
  padding: 30px;
  width: 70%;
  outline: black dotted 2px;
  float: left;
}
.maintext{
  margin: 30px calc((100% - 70% - 1% - 1%)/2);
  padding: 2%;
  border-radius:10px;
  direction: ltr;
  text-align: center;
  font-size: 30px;
  color: white;
}
.maintext:nth-child(2n+1){
  background-color: #b36eee;

}
.maintext:nth-child(2n){
  background-color: #edf179;
}
.maintext:hover{
  background-color: white;
  transform: scale(1.2);
  box-shadow: #555 5px 5px 20px,#555 -5px -5px 20px;
  color: black;
}
#about{
  margin: 30px 5px 500px;
  background-color: rgba(20,30,250,1);
  padding: 30px;
  width: 10%;
  outline: black dotted 1px;
  float: left;
}
#menu{
  margin: 30px 5px 500px;
  background-color: rgba(20,30,250,1);
  padding: 30px;
  width: 10%;
  outline: black dotted 1px;
  float: left;
}
#navbar{
  background-color: rgba(20,30,250,0.5);
  width: 100%;
  padding: 1% 0;
  margin: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  z-index: 999999;
}
#navbar:hover{
  background-color: rgba(20,30,250,1);
}
#navbar span{
  color: white;
  padding: 1% 1%;
  border-right: #7788ff 3px solid;
  transition: all 0.3s;
}
#navbar span:hover{
  background-color: #88aaff;
}

#modal_contact > div{
  background-color: white;
  padding: 30px;
  border: black solid 3px;
  z-index: 100;
  transition: all 0.5s;
}
#modal_contact > div:target{
  opacity: 1;
  z-index:100;
}
#modal_about > div{
  background-color: white;
  padding: 30px;
  border: black solid 3px;
  z-index: 100;
  transition: all 0.5s;
}
#modal_about > div:target{
  opacity: 1;
  z-index:100;
}
.modal{
  position: fixed;
  top: 200px;
  width: 50%;
  text-align: center;
  margin-left: 20%;
}
#wrapper{
  background-color: rgba(0,100,150,0.5);
  overflow: hidden;

}
.modal_wrapper{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  opacity: 0;
}
.modal_wrapper:target {
  z-index: 999999;
  opacity: 1;
}
#footer{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2%;
  background-color: rgba(20,30,250,0.5);
  text-align: center;
  transition: all 0.3s;
}
#footer:hover{
  font-size: 1.5em;
  background-color: rgba(20,30,250,1);
}
.close_modal a img:hover{
  transform: scale(1.2);
}
.close_modal a img{
  display: inline-block;
  width: 2em;
  height: 2em;
  padding: 1%  0.5% 0 0.5%;
  z-index: 999999;
  position: absolute;
  top: -10px;
  right: -6px;
}
#jump_top{
  color: black;
  background-image: url("../img/icons/up.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 50px;
  height: 50px;
  opacity: 1;
  z-index: 999999;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#page_top{
  position: absolute;
  top: 0;
}
#jump_down{
  display: inline-block;
  width: 100%;
  height: 50px;
  background: repeating-linear-gradient(#3355ee,#00bbaa,white);
  padding: 20px 0;
  margin-top: 547px;

}
#jump_down img{
  position: relative;
  margin-left: 45%;
}
#loading{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #BEADCC;
  position: fixed;
  top: 0;
  z-index: 99999999;
}
#loading img{
  width: 35%;
  height: 40%;
  position: fixed;
  left: 30%;
  top: 20%;
}


 /*
  * [?] START Slider
  * *******************************************/

#jquery-slideshow-container {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 500px;
    top: 50px;
}
#jquery-slideshow-container #jquery-slideshow {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}
#jquery-slideshow-container #jquery-slideshow li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#jquery-slideshow-container #jquery-slideshow li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    transition: color 0.2s ease-in;
}

#jquery-slideshow-container #jquery-slideshow li a:hover {
    color: #ef233c;
}


#jquery-slideshow-container #jquery-slideshow li a span {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0.75em 1.5em;
        font-size: 1.3em;
        background: #000000; /* fallback for old browsers */
        background: rgba(0, 0, 0, 0.8);
}

/* Vertically center our buttons */
#jquery-slideshow-container #btn-prev,
#jquery-slideshow-container #btn-next {
    position: absolute;
    top: 50%;
    z-index: 100;
    color: #ffffff;
    font-size: 4em;
    line-height: 1;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-50%);
}

#jquery-slideshow-container #btn-prev {
    left: 15px;
}

#jquery-slideshow-container #btn-next {
    right: 15px;
}

    /* hide the text links */
#jquery-slideshow-container #btn-prev span,
#jquery-slideshow-container #btn-next span {
        display: none;
}

 /* *******************************************
  * END Slider
  * */




