body, html{
    margin: 0;
    padding: 0;
}
*{
    direction: ltr;
    text-align: justify;
    font-family: "Times New Roman", Tahoma, serif;
}
ul{
    list-style: none;
}
ul li{
    margin-bottom: 10%;
    background-color: inherit;
}
ul li:hover{
   background-color: #f1f1f1;
}
a{
  text-decoration: none;
  color: black;
 }
a:hover{
  color: black;
 }
#banner{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: -1;
}
#maintextwrapper{
  margin: 30px 0 500px;
  background: repeating-linear-gradient(#3355ee,#00bbaa,white);
  padding: 30px;
  width: 70%;
  outline: black dotted 2px;
  float: left;
}
.maintext{
  margin: 30px calc((100% - 70% - 1% - 1%)/2);
  padding: 2%;
  border-radius:10px;
  direction: ltr;
  text-align: center;
  font-size: 30px;
  color: white;
}
.maintext:nth-child(2n+1){
  background-color: #b36eee;

}
.maintext:nth-child(2n){
  background-color: #edf179;
}
.maintext:hover{
  background-color: white;
  transform: scale(1.2);
  box-shadow: #555 5px 5px 20px,#555 -5px -5px 20px;
  color: black;
}
#about{
  margin: 30px 5px 500px;
  background: repeating-linear-gradient(#3355ee,#00bbaa,white);
  padding: 30px;
  width: 10%;
  outline: black dotted 1px;
  float: left;
}
#menu{
  margin: 30px 5px 500px;
  background: repeating-linear-gradient(#3355ee,#00bbaa,white);
  padding: 30px;
  width: 10%;
  outline: black dotted 1px;
  float: left;
}
#navbar{
  background-color: rgba(20,30,250,0.5);
  width: 100%;
  padding: 1% 0;
  margin: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  z-index: 9999999999;
}
#navbar:hover{
  background-color: rgba(20,30,250,1);
}
#navbar span{
  color: white;
  padding: 1% 1%;
  border-right: #7788ff 3px solid;
  transition: all 0.3s;
}
#navbar span:hover{
  background-color: #88aaff;
}

#modal_contact > div{
  background-color: white;
  padding: 30px;
  border: black solid 3px;
  z-index: 100;
  transition: all 0.5s;
}
#modal_contact > div:target{
  opacity: 1;
  z-index:100;
}
#modal_about > div{
  background-color: white;
  padding: 30px;
  border: black solid 3px;
  z-index: 100;
  transition: all 0.5s;
}
#modal_about > div:target{
  opacity: 1;
  z-index:100;
}
.modal{
  position: fixed;
  top: 200px;
  width: 50%;
  text-align: center;
  margin-left: 20%;
}
#wrapper{
  background-color: rgba(0,100,150,0.5);
  overflow: hidden;
}
.modal_wrapper{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  opacity: 0;
}
.modal_wrapper:target {
  z-index: 999999999999;
  opacity: 1;
}
#footer{
  position: relative;
  bottom: 0;
  width: 96%;
  padding: 2%;
  background-color: #ffff00;
  text-align: center;
  transition: all 0.3s;
}
#footer:hover{
  font-size: 1.5em;
}
.close_modal a:hover{
  background-color:gray;
  color: white;
}
.close_modal a{
  text-decoration: none;
  color: black;
  background-color: white;
  display: inline-block;
  width: 2em;
  height: 2em;
  padding: 1%  0.5% 0 0.5%;
  border-radius: 50%;
  border: 2px black solid;
  z-index: 999999999;
  position: absolute;
  top: -10px;
  right: -10px;
}
#jump_top{
  color: black;
  background-image: url("../up-row-1-16.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 50px;
  height: 50px;
  opacity: 1;
  z-index: 999999999;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#page_top{
  position: absolute;
  top: 0;
}
#jump_down{
  display: inline-block;
  width: 100%;
  background-color: rgba(150,190,250,0.7);
  padding: 20px 0;
  margin-top: 500px;
}
